
.container{
    border:solid blue;
    padding:12px;
    display: flex;
    justify-content: space-between;
    margin:1em;
    border-radius:5px;
}
.dashboard{
    border:solid black;
    padding:1em;
}
.spacer{
    display:flex;
    justify-content: space-between;
}
.sprintContainer{
    border:solid black;
    padding:1em;
}
.usersTitle{
    display: flex;
    justify-content: center;
}
.usersInfo{
    /* border: solid blue; */
    height: 100%;
    width: 100%;
}
p{
    border: dotted powderblue;
    margin: 0 33% 1% 33%;
    justify-content: center;
    text-justify: center;

}